{% load mptt_tags %}
<div id="v-menu">
<div id="main-nav">
        <ul>
        {% for top_category in categories %}
            
            <li id="cat_{{ top_category.id }}" class="main-category">
                    <a class="a_category" href="{% url lfs_category top_category.slug %}">{{ top_category.name }}</a>
                    <span class="cart-content"></span>
                <div id="sub-nav">
                    {% if not top_category.is_leaf_node %}
                    <div class="row-fluid">
                        {% for category in top_category.get_children %}
                        <a href="{% url lfs_category category.slug %}">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>    

