{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block section %}password-reset{% endblock %}
{% block left-slot-wrapper%}{% endblock %}
{% block right-slot-wrapper%}{% endblock %}
{% block middle-slot %}{% endblock %}
{% load bootstrap_toolkit %}

{% block breadcrumbs %}
    {% breadcrumbs _("Password reset") %}
{% endblock %}

{% block content %}
<div > 
    <h1>{% trans 'Password reset' %}</h1>
</div>
    <p>
        {% trans "Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
    </p> 
    

     <form action=""
          method="post">
        {% csrf_token %}
        <div class="field">
            <p>Электронная почта:</p>
            <div>
                {{ form.email.errors }}
                {{ form.email }}
            </div>
        </div>
        <input class="btn btn-primary" type="submit"
               value="{% trans 'Reset my password' %}" />
    </form>

{% endblock %}
{% block body_bottom %}
    <script>
        mediator.publish('change_slots_width', "span3", "span6", "span12");
    </script>
{% endblock %}


