{% load i18n lfs_tags lfs_theme_tags lfs_portlets_tags sshop_tags compress cache %}{% load vertical_menu_tags %}
{% load seo_data %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="nl"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="nl"><![endif]-->
<!--[if IE]><html class="no-js ie" lang="nl"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="{{ LANGUAGE_CODE }}"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="author" content="7bits and aquaweb">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% get_title %}{% endblock %}</title>
    <meta name="keywords" content="{% get_keywords %}" />
    <meta name="description" content="{% get_description %}" />          
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png" />
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=McLaren">
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/light/light.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui/css/custom-theme/jquery-ui-1.9.2.custom.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/jquery.jgrowl.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/superfish.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorbox.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dcmegamenu.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/white.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">  
        <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.less" charset="utf-8">      
        <link type="text/stylus" rel="stylesheet" 
            href="{{ STATIC_URL }}styles/styles.styl" charset="utf-8">
        <link type="text/stylus" rel="stylesheet" 
            href="{{ STATIC_URL }}styles/vertical_slider.styl" charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.custom.css">
        <link type="text/stylus" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.styl" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/light/light.css" type="text/css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/static/css/skin/skin.css" />
    {% endcompress %}

    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/respond.min.js"></script>            
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.form.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.jgrowl_minimized.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.pack.js"></script>                            
        <script type="text/javascript" src="{{ STATIC_URL }}js/lfs.js"></script>
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/shop.coffee" /> 
        {# All plugins should be loaded after this line #}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/vertical_slider.coffee" /> 
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-1.3.19.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dcmegamenu.1.3.3.min.js"></script>        
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.pack.js"></script>
        <script  type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/script.custom.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/script.custom.coffee"></script>  
        <script type="text/javascript" src="/static/js/jquery.jcarousel.min.js"></script>     
    {% endcompress %}  
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->      
</head>
<body class="{% block section %}{% endblock %}">

    <div id="seo-text-wrapper">
        {% get_seo_text_new %}
    </div>


    <div id="wrap">
    <div class="container"> {# Use class "container-fluid" on the following div for making complete website fluid #}
{#-------------------------------HEADER---------------------------------------------------#}
        <div class="row-fluid print-hide" id="header">
            {% block header %}
            <div class="span6">
                <div class=logo>
                <a href="/"><img src="{% if SHOP.image %}/media/{{ SHOP.image }}{% else %}{{ STATIC_URL }}img/logo.png{% endif %}" alt="Logo"></a>
                </div>
            </div>
            <div id="static_block" class="span6">                
                <div class="row-fluid">
                    {% static_block "header" %}
                </div>

                <div class="row-fluid print-hide">
                    <div class="span12">
                        {% include "lfs/search.html" %}
                    </div>
                </div>
                <br>
            </div>
            <!-- <div class="span2">
                {# Client script use this container for load cart here by ajax #}
                <div id="cart-container"><img src="{{ STATIC_URL }}img/horizontal-ajax-loader.gif"></div>
            </div> -->
            {% endblock %}
        </div>
{#-------------------------------END HEADER---------------------------------------------------#}

{#-------------------------------TOP-MENU---------------------------------------------------#}
    <div class="wrap_nav">
    <div id="nav" class="row-fluid print-hide">
        <div class="span8">
             {% include "lfs/link_bar.html" %}
        </div>
         <div class="span4">
            <div class="navbar pull-right header-nav">
                <ul class="nav">
                {% if user.is_authenticated %}
                    


                    {% if user.is_superuser %}
                        <li><a href="{% url admin:index %}">{% trans 'Manage' %}</a></li>
                    {% endif %}

                    <li><a href="/logout">{% trans 'Logout' %}</a></li>
                {% else %}
                    {% if not ANON_ONLY %}
                        <li><a href="{% url lfs_login %}">{% trans 'Login' %}</a></li>
                    {% endif %}                        
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
    </div>
{#-------------------------------END TOP-MENU---------------------------------------------------#}


    <div class="row-fluid print-hide">

    <div id="content">
        <div class="row-fluid">
            {%if not main_page%}
                <div class="span12">
                <div id="breadcrumb">{% block breadcrumbs %}{% endblock %}</div> {# Div for breadcrumbs #}
                </div>
            {% endif %}
            {% block wrapper %}
                
                {# ------------------- LEFT container ------------------#}
                {% block left-slot-wrapper %}
                    {# if SlotLeft #}
                        {% if main_page %}<div id="left-slot-container" class="left_main_page" > {# Class is set automatically #}{% endif %} 
                        {% if not main_page %}<div id="left-slot-container"  > {# Class is set automatically #}{% endif %} 
                            <div class="left-slot">
                                {% vertical_menu %}
                                {% block left-slot %}{% lfs_portlet_slot 'Left' %}{% endblock %}
                            </div>
                        </div>
                    {# endif #}
                {% endblock %}
                {# ------------------- END LEFT container ------------------#}
                
                {# ------------------- MIDDLE container ------------------#}
                {% if not main_page %}<div id="middle-slot-container" > {# Class is set automatically #}{% endif %} 
                {% if main_page %}<div id="middle-slot-container" class="middle_main_page"> {# Class is set automatically #}{% endif %} 
                <div class="middle-slot">            
                        <div class="row-fluid">
                        {# Div for tab panel #}
                {%if not main_page%}
                {% block content %}{% endblock %}
                {% endif %}
                        {% if main_page %}
                            <div class="span12 slider-content">
                                <div class="slider-background">
                                    <div class="slider-background-white">

                                                {% include "lfs/index_slider.html" %} 
                                        
                                    </div>
                                </div>
                                <br>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                    </div>
                 {# ------------------- END MIDDLE container ------------------#}

                {# ------------------- RIGHT container ------------------#}
                {% block right-slot-wrapper %}
                    {# if SlotRight #}
                        <div id="right-slot-container"> {# Class is set automatically #}
                            <div class="right-slot">
                               
                            </div>
                        </div>
                    {# endif #}
                {% endblock %}
                {# ------------------- END RIGHT container ------------------#}

            {% endblock %}
  {% if main_page %}
            <div class="bottom-content">
                    {% block middle-slot %}{% lfs_portlet_slot 'Middle' %}{% endblock %}
            </div>
            {% endif %}
        </div>
    </div>
    </div>
    </div>
    <div id="push"></div>
    </div>

{#-------------------------------FOOTER---------------------------------------------------#}
    <div id="footer">
        <div class="container">
        <div class="row-fluid">
            <div class="span1">
                {% block colophon %}
                &copy; <script>document.write(new Date().getFullYear());</script> {% trans 'by' %} 
                {% endblock %}
            </div>
            {% static_block "footer" %}
        </div>

        <div class="row-fluid print-hide">
            <div class="span12">
                <ul class="unstyled">
                {% block footer %}

                <li class="footer-title">{% actions Footer %}</li>
                
                {% for action in actions %}
                <div class="span1">
                  <a href="{{action.link}}">{{action.title}}</a>
                    {% for child in action.children.all %}
                         <li><a href="{{child.link}}"> {{child.title}}</a></li>
                    {% endfor %}
                </div>
                {% endfor %}
                {% endblock %}
                </ul>

            </div>
        </div>

        <div class="row-fluid print-show">
            <div class="span12">
                Alternate footer for print version
            </div>
        </div>
        </div>
        <div class="border_footer">
        </div>
    </div>
{#-------------------------------END FOOTER---------------------------------------------------#}

    {% include "lfs/modal.html" %}
    {% block google-analytics-tracking %}
        {% google_analytics_tracking %}
    {% endblock %}
    {% block google-analytics-ecommerce %}{% endblock %}
    
    {% block body_bottom %}
          <script>
          mediator.publish('change_slots_width', "span3", "span9", "span9");
          config.left_portlet_count++;
          </script>
    {% endblock %}


</body>
</html>
