{% extends "lfs/base.html" %}
{% load i18n lfs_tags pagination_tags sshop_tags %}

{% block title %}
    {% trans 'Search results' %} - {{ block.super }}
{% endblock %}

{% block section %}search-results{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Search results") %}
{% endblock %}

{% block wrapper %}
<div class="page-header">
    <h1 class="first-heading">{% trans 'Search results' %}</h1>
</div>

    <label for="search">{% trans 'Search' %}:</label>
    <form action="{% url lfs_search %}"
          class="search-results-form form-inline">
        <div class="input-append">
            <input id="search-input" name="q"  class="input-large search-query" type="text" placeholder=" {% trans 'Search products...' %}">
            <button class="btn" type="submit">{% trans 'Go!' %}</button>
        </div>
    </form>

    <div class="row-fluid"><div class="span12">
    <p class="search-results-description">
        {% trans 'You searched for' %} <span class="search-results-query">"{{ q }}"</span>.
        {% blocktrans count total as counter %}1 product was found.{% plural %}{{ counter }} products were found.{% endblocktrans %}
    </p>
    </div></div>

    {% if products %}

        {% if not paginator %}
            {% autopaginate products 10 %}
        {% endif %}
        <div class="row-fluid"><div class="span12">
        <div class="pull-right">
        {% sorting %}<br>
        </div>
        </div></div>

        <div class="row-fluid"><div class="span12">
        <table class="lfs-default padding-top table table-striped">
            <tr>
                <th>{% trans 'Image' %}</th>
                <th>{% trans 'Product' %}</th>
                {% comment %}<th class="number">{% trans 'Price' %}</th>{% endcomment %}
                <th></th>
            <tr>
            {% for product in products %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}" class="preview-100-100">
                            <img src="{{ product.get_image.image.url_100x100 }}"
                                 alt="{{ product.get_name }}"
                                 title="{{ product.get_name }}" />
                        </a>
                    </td>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            {{ product.get_name }}
                        </a>
                        <br>{{ product.short_description|safe}}
                        {% comment %}
                        {% for property in product.get_variant_properties %}
                            <div>
                                {{ property.title }} : {{ property.value }} {{ property.unit|safe }}
                            </div>
                        {% endfor %}

                        {% for property in product.get_displayed_properties %}
                            <div>
                                {{ property.title }} : {{ property.value }} {{ property.unit|safe }}
                            </div>
                        {% endfor %}
                        {% endcomment %}
                    </td>

                    {% comment %}<td class="number">
                        <div class="product-price">
                        {% if product.get_for_sale %}
                            <div class="product-price">
                            <span class="label label-important price">{% for_sale_price product %}</span>
                            <ul>
                            <li><span class="for-sale-price">{% trans 'Instead' %}: {% standard_price product %}</span></li>
                            <li><span class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference product %}</span></li>
                            </ul>
                            </div>
                        {% else %}
                            <div class="product-price">
                            <span class="label label-info price">{% price product %}</span>
                            </div>
                        {% endif %}
                        </div>
                    </td>{% endcomment %}
                    <td class="buttons">
                        <a class="button emphasized"
                           href="{% url lfs_product product.slug %}"
                           type="submit">
                            {% trans 'Details' %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div></div>
    {% paginate %}
    {% endif %}
{% endblock %}
