{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}


{% if categories %}

    <div class="featured-products-portlet portlet">
        <div class="portlet-body">
            {# -----------------------PRODUCTS SLIDESHOW------------------------------------ #}
             <div id="categories_carousel" class="products-wrapper slideshow">
                <ul id="categories-carousel" class="jcarousel-skin-tango">
                {% for category in categories %}
                <li>
                    <div id="tab-{{ forloop.counter }}" class="portlet-item">
                        <div class="product-data">
                            <div class="image-wrapper">
                                <a href="{{ category.get_absolute_url }}">
                                   <img src="{{ category.get_image.url_100x100 }}">
                                </a>
                            </div>
                            
                            <div class="product-title">
                                <a href="{{ category.get_absolute_url }}" class="product-title">{{ category.name }}</a>
                            </div>

                        </div>
                    </div>
                </li>
                {% endfor %}{# slideshow categories #}
                 </ul>
                {# tabs #}

                <ul style="display:none">
                {% for category in categories %}
                    <li><a href="#tab-{{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endfor %}
                </ul>

            </div>

            {# -----------------------END PRODUCTS SLIDESHOW-------------------------------- #}
            <script type="text/javascript">
                $('#categories-carousel').jcarousel({
                    scroll: 1,
                    visible: 7,
                    wrap: 'circular',
                });
           </script>
        </div>{# portlet-body #}
    </div>
{% endif %}
