{% load i18n %}
{% load lfs_tags %}
<div class="filter-portlet-container">
{% if show and product_filters %}
<div class="filtered-navigation-portlet portlet">
    <script type="text/javascript">
        window.disabled_filters = [];
    </script>
    <div class="portlet-header">
        <h4>{{ title }} <a href="{% url lfs_category category.slug %}" title="{% trans 'Reset all' %}"><i class="icon-remove-circle"></i></a></h4>
    </div>

    <div class="portlet-body">
    <form id="filter-portlet-form-{{ slot_name }}-{{ portlet_id }}" method="GET">
    {% for filter in product_filters %}
    <div class="filter-block">        
        {% include filter.template_name %}
    </div>
    {% endfor %}
    <div class="filter-actions">
    {% if not use_after_choose %}
        <button class="btn btn-info" type="submit">{% trans "Go" %}</button>
    {% endif %}
    </div>
    </form>

<script type="text/javascript">

    {% if use_after_choose %}
    $('input').change(function()
    {
        $("#filter-portlet-form-{{ slot_name }}-{{ portlet_id }}").submit();
    });
    {% endif %}

    $("#filter-portlet-form").submit(function()
    {
        for(var i=0; i<window.disabled_filters.length; i++) {
            $('#'+window.disabled_filters[i]).attr("disabled", "disabled");
        }
        return true;
    });
</script>

    </div>
</div>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}
</div>