{% load i18n %}
{% if notebook_list %}   
    <div class="portlet-header"> 
        <h4>{% trans "Notebook" %}</h4>
    </div> 
    <ul>
        {% for product in notebook_list %}
        <li><a href="{% url lfs_product product.slug %}">{{ product.name }}</a></li>
        {% endfor %}
    </ul>
    <a class="btn btn-info pull-left" href="{% url lfs_notebook %}">{% trans "Notebook" %}</a>
    <script type="text/javascript">
        {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
        {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    </script>
{% endif %}
